*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content:center;
    align-items: center;
    background-color:white;
    padding: 0 150px;
    position: fixed;
    height: 120px;
    width: 100%;
    z-index: 5;
    
}
.navigation{
    display: flex;
    font-size: 38px;
    /* margin: 0;
    padding: 0;
    gap: 20px; */
    right: 150px;
    justify-content:space-evenly ;
    position: fixed;
}
li{
    list-style: none;
    padding: 15px;
    display: flex;
    float: right;
}
li a{
    text-decoration:wavy;
    display: flex;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
li a:hover{
    text-decoration: underline;
    background:white;
    color:darkblue;
    padding: 3px;
    border-radius: 15px;
    cursor: pointer;
}
.navbar img{
    height: 93px;
    left: 150px;
    position: fixed;
}
.container{
    flex: 1;
    padding-right: 30px;
}
.container h1{
    font-size: 3.8rem;
    color:darkblue;
    padding: 140px 20px 60px;
    margin :0;
    transition: ease-in-out;
    animation: innovation 2s ease-in-out forwards;    
}
.container p{
    color: rgb(9, 9, 9);
    font-size: 1.5rem;
    margin:60px 60px;
    font-weight: lighter;
    margin-right: auto;
    margin-left: auto;
    animation: innovation 2s ease-in-out forwards;
}
.maincontainer{
display: flex;
align-items:center;
justify-content:space-between;
padding: 40px 60px;
margin: auto;
}
.wrapper{
    flex: 1;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 20px;
}
.wrapper img{
    width: 100%;
    height: auto;
    object-fit: contain;
    position: static;
    left: -20px;
    animation: innovation 2s ease-in-out forwards;
}


/* button styling */
.btn {
    margin: 2%;
    padding: 10px;
    text-decoration: none;
    font-size: 32%;
    border-radius: 20px;
    width: 30%;
    background: darkblue;
    animation: innovation 2s ease-in-out forwards;
}
.btn a{
    color: white;
    text-decoration: none;
}
.btn:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(69, 69, 238);
}
.button {
    margin: 2%;
    padding: 10px;
    width: 30%;
    text-decoration: none;
    font-size: 32%;
    border-radius: 20px;
    background: blueviolet;
    animation: innovation 2s ease-in-out forwards;
}
.button a{
    color: white;
    text-decoration: none;
}
.button:hover{
    /* color: white; */
    /* text-decoration: none; */
    cursor: pointer;
    background: darkorchid;
}

@keyframes innovation{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* heading and paragrapgh in front page */

.front{
    display: flex;    /*horizontal */
    align-items: center;    /*vertically centers h and p */
    gap: 20px;
    background: url(frontpage.avif);
 }

.front h2{
    color: darkblue;
    font-size: 4.8rem;
    padding: 90px;
    margin :0;
    display: flex;
    align-items: center;
    animation: tech 4s ease-in-out forwards;
}
.para p{
    font-size: 1.5em;
    padding: 90px;
    margin: 0;
    font-weight:lighter;
      animation: tech 4s ease-in-out forwards;
}
.para p strong{
    font-weight: bold;
}

/* .whatsup img{
    position:fixed;
    right: 4px;
    bottom:2px;
} */

@keyframes tech{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}



/* our approach section */
.approach{
    background-color: darkblue;
    text-align: center;
    padding: 60px 20px;
}
.main-heading{
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    /* transform:translateY(20px); */
   animation: fadeInUp 6s ease-in-out forwards;
}
.item-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.items{
    background-color: transparent;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center; 
    width: 280px;
    padding: 20px;
    opacity: 0;
   transform:translateY(20px);
   animation: fadeInUp 6s ease-in-out forwards;
}
.icon{
   font-size: 4px;
  margin-bottom: 15px;
  display: block;
}

.items h2.primar-heading{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;
  /*heading animation*/
   animation: fadeInUp 6s ease-in-out forwards;  
 }
 .center{
    font-size: 1rem;
    color: whitesmoke;
    line-height: 1.6;
 }


 /* animation for approach */
 @keyframes fadeInUp{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
 }
 .items:nth-child(1){
  animation-delay: 0.5s;
 }
 .items:nth-child(2){
  animation-delay: 1s;
 }
 .items:nth-child(3){
  animation-delay: 1.5s;
 }
 .items:nth-child(4){
  animation-delay: 2s;
 }






.featured-services {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.featured-services h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 80px;
}

.swiper {
  padding-bottom: 50px;
}

.swiper-slide.card {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centers icon, heading, and list */
  justify-content: center;
  background: #fff;
  border-radius: 12px;
  padding: 25px 20px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s ease;
}

.swiper-slide.card .icon {
width: 60px;
 display: flex;
 justify-content: center;
  margin-bottom: 20px;

}

.swiper-slide.card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.swiper-slide.card ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
  text-align:left;
}

.swiper-slide.card ul li {
  display:flex;
  align-items:center;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #252323;
  margin: 0;
  font-weight: bold;
  padding-left: 26px;
  width: 80%;
  line-height: 1.4;
  text-align: center;
}

.swiper-slide.card ul li::before {
  content: "\2713";
  color:green;
  font-weight: bold;
  justify-self: center;
}

.swiper-pagination-bullet {
  background-color: #007bff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #004aad;
}




/* WHY CHOOSE............ */
.choose{
    line-height: 3.6;
    gap: 20px;
    margin: 30px ;
    width: 100%;

}
.chooses{
    background: darkblue;
    line-height: 3.6;
    padding: 20px;
    position: static;
    transform: translateX(20px);
    animation: choosesani 0.6s ease forwards;
}
.chooses .main-heading{
    color:white;
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    line-height: 3.6;
    position: static;
    animation: choosesani 0.6s ease forwards;
}
.frontpage{
    border: 1px solid darkblue;
    position: static;
    border-radius: 10px;
    background: transparent;
    margin: 60px;
    padding: 30px 20px 20px 30px;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.4);
    background: rgb(2, 2, 95);
   z-index: 1;
     transform: translateX(50px);
     animation: choosesani 0.8s ease forwards;
}
.frontpage #second-heading{
    color: white;
    vertical-align: middle;
    font-size:2rem;
    text-align: start;
    position:sticky;
    line-height: normal;
    animation: choosesani 0.8s ease forwards;
}
.frontpage #second-heading::before{
  content: url(ai.png);
  font-size:0rem;
  vertical-align: middle;
}
.frontpage #second-heading1{
    color: white;
    vertical-align: middle;
    font-size:2rem;
    text-align: start;
    position: sticky;
    line-height: normal;
    animation: choosesani 0.8s ease forwards;
}
.frontpage #second-heading1::before{
  content: url(users.png);
  font-size: xx-small;
  vertical-align: middle;
}
.frontpage #second-heading2{
    color: white;
    vertical-align: middle;
    font-size:2rem;
    text-align: start;
    position: sticky;
    line-height: normal;
    animation: choosesani 0.8s ease forwards;
}
.frontpage #second-heading2::before{
  content: url(stack.png);
  font-size: xx-small;
  vertical-align: middle;
}
.frontpage #second-heading3{
    color: white;
    vertical-align: middle;
    font-size:2rem;
    text-align: start;
    position: sticky;
    line-height: normal;
    animation: choosesani 0.8s ease forwards;
    
}
.frontpage #second-heading3::before{
  content: url(graph.png);
  font-size: 0px;
  vertical-align: middle;
}
.frontpage #second-heading4{
    color: white;
    vertical-align: middle;
    font-size:2rem;
    text-align: start;
    position: sticky;
    line-height: normal;
    animation: choosesani 0.8s ease forwards;
}
.frontpage #second-heading4::before{
  content: url(cup.png);
  font-size:0em;
  vertical-align: middle;
}
.frontpage .second{
    color: rgb(129, 124, 124);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
}
@keyframes choosesani{
  from{
    opacity: 0;
    transform: translateX(20px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.frontpage:nth-child(1){
  animation-delay: 3.5s;
}
.frontpage:nth-child(2){
  animation-delay: 4s;
}
.frontpage:nth-child(3){
  animation-delay:4.5s;
}
.frontpage:nth-child(4){
  animation-delay: 5s;
}
.frontpage:nth-child(5){
  animation-delay: 5.5s;
}



/* footer section */
footer {
  background-color: #fff;
  padding: 40px 20px 20px;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 250px;
}

.footer-column h5 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #000066;
    animation: bottomsection 7s ease-in-out forwards;
}

.footer-column p,
.footer-column a {
  font-size: 1rem;
  line-height: 1.6;
  color:rgb(41, 40, 40);
  text-decoration: none;
  font-weight:bold;
    animation: bottomsection 7s ease-in-out forwards;
}

.footer-column a:hover {
  text-decoration: underline;
  color: #110066;
}
.footer-columns p,
.footer-columns a {
  font-size: 1rem;
  line-height: 1.6;
  color:rgb(41, 40, 40);
  text-decoration: none;
  font-weight:bold;
  text-decoration: underline;
    animation: bottomsection 7s ease-in-out forwards;
}
.footer-columns {
  flex: 1;
  min-width: 250px;
}

.footer-columns h5 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #000066;
    animation: bottomsection 7s ease-in-out forwards;
}

.footer-columns a:hover {
  text-decoration: underline;
  color: #110066;
}

/* Subscribe form styles */
.subscribe-form {
  display: flex;
  flex-direction: column;
  animation: bottomsection 7s ease-in-out forwards;
}

.subscribe-form input{
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
  animation: bottomsection 7s ease-in-out forwards;
}

/* Social Icons */
.links {
  display: flex;
  justify-content:flex-start;
  gap: 20px;
  padding: 60px 60px;
}

.links i {
  font-size: 1.5rem;
  color: black;
  transition: transform 0.3s;
    animation: bottomsection 7s ease-in-out forwards;
}

.links i:hover {
  transform: scale(1.2);
}

/* Bottom text */
footer p.copyright {
  display: flex;
  justify-content: flex-start;
  font-size: 0.85rem;
  color: #333;
  padding: 60px 60px;
  padding-bottom: 60px;
}
footer strong{
    color: #000066;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    justify-content: flex-start;
  }
}

@keyframes bottomsection{
  from{
    opacity: 0;
    transform: translateZ(20PX) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}




/* Submit Button */
.container-btn{
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
}
.sub-btn {
  background-color: #000066;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
    animation: bottomsection 7s ease-in-out forwards;
}

.sub-btn:hover {
  color: #fff;
  background: #007bff;
}

/* POPUP MESSEGE */
.popup{
  width: 400px;
  background: #007bff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #7c7777;
  visibility:hidden;
  transition: transform 0.4s top 0.4s;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}
.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: bold;
    margin: 30px 0 10px;
    color: #fff;
}
.popup p{
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 10px;
    color: #fff;
}
.ok-btn{
    width: 100%;
    margin-top: 50px;
    padding:10px 0;
    background: #6fd649; 
    color: #0e0d0d;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}
.ok-btn:hover{
    background-color: #08f32f;
    color: #030303;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}
