*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content:center;
    align-items: center;
    background-color:white;
    padding: 0 150px;
    position: fixed;
    height: 120px;
    width: 100%;
    z-index: 5;
    
}
.navigation{
    display: flex;
    font-size: 38px;
    right: 150px;
    justify-content:space-evenly ;
    position: fixed;
}
li{
    list-style: none;
    padding: 15px;
    display: flex;
    float: right;
}
li a{
    text-decoration:wavy;
    display: flex;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
li a:hover{
    text-decoration: underline;
    background:white;
    color:darkblue;
    padding: 3px;
    border-radius: 15px;
    cursor: pointer;
}
.navbar img{
    height: 93px;
    left: 150px;
    position: fixed;
}


.services {
 background: url(frontpage.avif);
  padding: 140px 20px 60px; /* Extra top padding to avoid overlap with navbar */
  line-height: 2.6;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: nowrap; /* Ensure side-by-side on large screens */
}

.services-left {
  flex: 1;
  padding-right: 20px;
  transform: translateY(30px);
  animation: serviceanimation 2s ease-in-out forwards;
}

.services-left h2.main {
  font-size: 48px;
  color: #06114f;
  margin-bottom: 20px;
  line-height: 3.6;
   animation: serviceanimation 2s ease-in-out forwards;
}

.services-left p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 30px;
   animation: serviceanimation 2s ease-in-out forwards;
}

.enquire-btn {
  padding: 14px 36px;
  background-color: #06114f;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  width: 80%;
  cursor: pointer;
  transition: background-color 0.3s ease;
   animation: serviceanimation 2s ease-in-out forwards;
}

.enquire-btn:hover {
  background-color: #2049eb;
  cursor: pointer;

}

.services-right {
  flex: 1;
  text-align: center;
}

.services-right img {
  max-width: 100%;
  height: auto;
   animation: serviceanimation 2s ease-in-out forwards;
}
@keyframes serviceanimation{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}



/* web development section */

.container{
  line-height: 2.6;
  padding: 140px 20px 60px;
  display: flex;
  flex-direction: row;
}
.web-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: nowrap;
}
.wrap-left{
  flex: 1;
  padding-right: 20px;
}
.wrap-left img{
  /* max-width: 100%; */
  width: 600px;
  height: 400px;
  animation: web 6s ease-in-out forwards;
}
.content-right h2.main{
  font-size: 2.5rem;
  color: #06114f;
  margin-bottom: 20px;
  line-height: 1.3;
  animation: web 4s ease-in-out forwards;
}
.content-right p{
  font-size: 1.5rem;
  color:black;
  margin-bottom: 30px;
  line-height: 1.1;
  animation: web 6s ease-in-out forwards;
}
.custom-right{
  all: unset;
  list-style-type: style disc;
  display: block;
  padding-left: 20px;
  margin-top: 10px;
  animation: web 6s ease-in-out forwards;
}
/* .custom-right li::before{
  content: "•";
  display: block;
  align-items: center;
} */
.custom-right li{
  all: unset;
  display: list-item;
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1;
  animation: web 6s ease-in-out forwards;
}
@keyframes web{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* E-Commerce section*/

.commerce{
  background: url(frontpage.avif);
  padding: 140px 20px 60px;
  line-height: 2.6;
}
.commerce-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: nowrap; 
}
.commerce-left{
   flex: 1;
  padding-right: 20px;
}
.commerce-left h2.main{
   font-size: 2.5rem;
   color: #06114f;
   margin-bottom: 20px;
   line-height: 1.3;
    animation: comm 8s ease-in-out forwards;
}
.commerce-left p{
   font-size: 1.5rem;
   color: black;
   margin-bottom: 20px;
   line-height: 1.1;
    animation: comm 8s ease-in-out forwards;
}
.custom-left{
  all: unset;
  list-style-type: style disc;
  display: block;
  padding-left: 20px;
  margin-top: 10px;
  
}
.custom-left li{
  all: unset;
  display: list-item;
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1;
   animation: comm 8s ease-in-out forwards;
}
.commerce-right {
  flex: 1;
  text-align: center;
}

.commerce-right img {
  max-width: 100%;
  height: auto;
   animation: comm 8s ease-in-out forwards;
}
@keyframes comm{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* DIGITAL */
.digital{
  line-height: 2.6;
  padding: 140px 20px 60px;
  display: flex;
  flex-direction: row;
}
.digital-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: nowrap;
}
.wraps-left{
  flex: 1;
  padding-right: 20px;
}
.wraps-left img{
  width: 500px;
  height: 350px;
      animation: digi 10s ease-in-out forwards;
}
.digital-right h2.main{
  font-size: 2.5rem;
  color: #06114f;
  margin-bottom: 30px;
  line-height: 1.3;
      animation: digi 10s ease-in-out forwards;
}
.digital-right p{
  font-size: 1.5rem;
  color: #0c0c0c;
  font-weight: lighter;
  margin-bottom: 30px;
  line-height: 1.1;
      animation: digi 10s ease-in-out forwards;
}
.customs-right{
  all: unset;
  list-style-type: disc;
  display: block;
  padding-left: 20px;
  margin-top: 10px;
}
.customs-right li{
  all: unset;
  display: list-item;
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1;
     animation: digi 10s ease-in-out forwards;
}
@keyframes digi{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* CYBERSECURITY SECTION */
.cyber{
  background: url(frontpage.avif) ;
  padding: 140px 20px 60px;
  line-height: 1.2;
}
.cyber-container{
max-width: 1200px;
margin: 0 auto;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
gap: 40px;
flex-wrap: nowrap;
}
.cyber-left{
  flex: 1;
  padding: 20px;
}
.cyber-left h2.main{
   font-size: 2.5rem;
   color: #06114f;
   margin-bottom: 20px;
  animation: cyber 11s ease-in-out forwards;
}
.cyber-left p{
   font-size: 1.5rem;
   color: black;
   margin-bottom: 20px;
   line-height: 1.1;
      animation: cyber 11s ease-in-out forwards;
}
.cybersec-left{
  all: unset;
  list-style-type: style disc;
  display: block;
  padding-left: 20px;
  margin-top: 10px;
}
.cybersec-left li{
  all: unset;
  display: list-item;
  margin-bottom: 8px;
  font-size: 1.3rem;
  line-height: 1;
  animation: cyber 11s ease-in-out forwards;
}
.cyberwrap-right {
  flex: 1;
  text-align: center;
}

.cyberwrap-right img {
  width: 500px;
  height: 350px;
   animation: cyber 11s ease-in-out forwards;
}
@keyframes cyber{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* CLOUD SECTION */
.cloud{
  line-height: 3.6;
  padding: 140px 20px 60px;
  display: flex;
  flex-direction: row;
}
.cloud-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: nowrap;
}
.cloudwrap-left{
  flex: 1;
  padding-right: 20px;
}
.cloudwrap-left img{
  width: 500px;
  height: 350px;
  animation: cloud 12s ease-in-out forwards;
}
.cloud-right h2.main{
  font-size: 2.5rem;
  color: #06114f;
  margin-bottom: 30px;
  line-height: 1.3;
   animation: cloud 12s ease-in-out forwards;
}
.cloud-right p{
  font-size: 1.5rem;
  color: #0c0c0c;
  font-weight: lighter;
  margin-bottom: 30px;
  line-height: 1.1;
   animation: cloud 12s ease-in-out forwards;
}
.customcloud{
  all: unset;
  list-style-type: disc;
  display: block;
  padding-left: 20px;
  margin-top: 10px;
}
.customcloud li{
  all: unset;
  display: list-item;
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1;
   animation: cloud 12s ease-in-out forwards;
}
@keyframes cloud{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* FOOTER SECTION*/

footer {
  background-color: #fff;
  padding: 40px 20px 20px;
  font-family: 'Poppins', sans-serif;
  color: #000;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 250px;
}
.footer-column h5 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #000066;
  animation: bottomsection 7s ease-in-out forwards;
}
.footer-column p,
.footer-column a {
  font-size: 1rem;
  line-height: 1.6;
  color:rgb(41, 40, 40);
  text-decoration: none;
  font-weight:bold;
  animation: bottomsection 7s ease-in-out forwards;
}

.footer-column a:hover {
  text-decoration: underline;
  color: #110066;
}
.footer-columns p,
.footer-columns a {
  font-size: 1rem;
  line-height: 1.6;
  color:rgb(41, 40, 40);
  text-decoration: none;
  font-weight:bold;
  text-decoration: underline;
  animation: bottomsection 7s ease-in-out forwards;
}
.footer-columns {
  flex: 1;
  min-width: 250px;
}
.footer-columns h5 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #000066;
  animation: bottomsection 7s ease-in-out forwards;
}
.footer-columns a:hover {
  text-decoration: underline;
  color: #110066;
}

/* Subscribe form styles */
.subscribe-form {
  display: flex;
  flex-direction: column;
}
.subscribe-form input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
  animation: bottomsection 7s ease-in-out forwards;
}

/* Social Icons */
.links {
  display: flex;
  justify-content:flex-start;
  gap: 20px;
  padding: 60px 60px;
}

.links i {
  font-size: 1.5rem;
  color: black;
  transition: transform 0.3s;
  animation: bottomsection 7s ease-in-out forwards;
}

.links i:hover {
  transform: scale(1.2);
}

/* Bottom text */
p.copyright {
  display: flex;
  justify-content: flex-start;
  font-size: 0.85rem;
  font-weight: 300;
  color: #333;
  padding: 60px 60px;
  /* padding-bottom: 60px; */
}
footer strong{
    color: #000066;
    font-weight: bold;
}

@keyframes bottomsection{
  from{
    opacity: 0;
    transform: translateZ(20PX) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}


/* Responsive fix for small screens */
@media (max-width: 992px) {
  .services-container {
    flex-direction: column;
    text-align: center;
  }

  .services-left,
  .services-right {
    padding: 0;
  }

  .services-left h2.main {
    font-size: 36px;
  }
  /* .web {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .wrap, .content {
    flex: 1 1 100%;
    padding: 10px;
  }

  .content h2 {
    font-size: 1.8rem;
  }

  .content p, .custom li {
    font-size: 1rem;
  }

  .custom li {
    justify-content: center;
  } */
}

.container-btn{
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
}
.sub-btn {
  background-color: #000066;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  animation: bottomsection 7s ease-in-out forwards;
}

.sub-btn:hover {
  color: #fff;
  background: #007bff;
}

/* POPUP MESSEGE */
.popup{
  width: 400px;
  background: #007bff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #7c7777;
  visibility:hidden;
  transition: transform 0.4s top 0.4s;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}
.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: bold;
    margin: 30px 0 10px;
    color: #fff;
}
.popup p{
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 10px;
    color: #fff;
}
.ok-btn{
    width: 100%;
    margin-top: 50px;
    padding:10px 0;
    background: #6fd649; 
    color: #0e0d0d;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}
.ok-btn:hover{
    background-color: #08f32f;
    color: #030303;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}
